<!doctype html>
<html lang="pt-br">

    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Peladeiros F.C | Perfil</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/styles.css">
    </head>

    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-success mb-5">
            <a class="navbar-brand" href="#">Peladeiros F.C.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil.html">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pontuacao.html">Pontuação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link  active" href="partida.html">Partidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>Partida</h1>
        <div class="container mt-3 ml-5">
            <button type="button" class="btn btn-success mt-2" data-toggle="modal" data-target="#criarPartida">Criar
                Partida</button>
            <button type="button" class="btn btn-warning mt-2" data-toggle="modal" data-target="#verPartidas">Ver
                Partidas</button>
            <button type="button" class="btn btn-primary mt-2" data-toggle="modal" data-target="#excluirPartida">Excluir
				Partida</button>
        </div>
        <!-- MODAL CRIAR PARTIDA -->
        <div class="modal" id="criarPartida" tabindex="-1" role="dialog">
            <div class="modal-dialog w-75" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Criar Partida</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group mt-5">
                                <label for=" inputNome">Nome Partida</label>
                                <input type="text" class="form-control-small mb-3 border border-success text-center" id="inputNome"
                                    value="Peladeiro" disable>
                            </div>
                            <div class="form-group">
                                <label for=" inputPosicao" class="mr-2">Jogadores</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        José
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        João
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Godofredo
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=" inputPosicao" class="mr-2">Jogadores</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        José F.C
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        João F.C
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Godofredo F.c
                                    </label>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for=" inputPrxNivel" class="mr-2">Local</label>
                                <input type="text" class="form-control-small mb-3 border border-success text-center" id="inputPrxNivel"
                                    value="Rua A, 300 Bairro A Bhte">
                            </div>
                            <div class="form-group">
                                <label for=" inputPrxNivel" class="mr-2">Data</label>
                                <input type="text" class="form-control-small mb-3 border border-success text-center" id="inputPrxNivel"
                                    value="07/11/2018">
                            </div>
                            <div class="form-group">
                                <label for=" inputPrxNivel" class="mr-2">Horário</label>
                                <input type="text" class="form-control-small mb-3 border border-success text-center" id="inputPrxNivel"
                                    value="18:00 as 19:00">
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer ml-auto">
                        <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Fechar</button>
                        <button type="button" class="btn btn-primary">Salvar</button>
                    </div>
                </div>
            </div>
        </div>

        <!-- MODAL VER PARTIDAS -->
        <div class="modal" id="verPartidas" tabindex="-1" role="dialog">
            <div class="modal-dialog w-75" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Ver Partidas</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for=" inputJogadores" class="mr-2">Jogadores</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Peladeiros
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Amigos Ambev
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Amigos Coca-Cola
                                    </label>
                                </div>
                            </div>
                            <div class="modal-footer ml-auto">
                                <button type="button" class="btn btn-danger float-left" data-dismiss="modal">Fechar</button>

                            </div>
                        </form>
                    </div>
                </div>
            </div>
		</div>

            <!-- MODAL EXCLUIR PARTIDA -->
            <div class="modal" id="excluirPartida" tabindex="-1" role="dialog">
            <div class="modal-dialog w-75" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Excluir Partida</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Fechar">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <label for=" inputPartida" class="mr-2">Partidas</label>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Peladeiros
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Amigos Ambev
                                    </label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                    <label class="form-check-label" for="defaultCheck1">
                                        Amigos Coca-Cola
                                    </label>
                                </div>
                            </div>
                          
						</form>
						Deseja realmente excluir essa(s) partida?
					</div>
						<div class="modal-footer">
							<button type="button" class="btn btn-primary">Sim</button>
							<button type="button" class="btn btn-default" data-dismiss="modal">N&atilde;o</button>
						</div>
                 </div>
             </div>
			</div> <!--/.modal -->

            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="../js/jquery.min.js"></script>
            <script src="../js/popper.min.js"></script>
            <script src="../js/bootstrap.min.js"></script>
    </body>

</html>
