<!doctype html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Peladeiros F.C | Perfil</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-success mb-5">
            <a class="navbar-brand" href="#">Peladeiros F.C.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="perfil.html">Perfil</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="pontuacao.html">Pontuação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="partida.html">Partidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-5">
            <h1>Perfil</h1>
            <form>
                <div class="form-group">
                        <label for=" inputNome">Nome</label>
                    <input type="text" class="form-control mb-3" id="inputNome">
                </div>
                <div class="form-group">
                        <label for=" inputEmail">E-mail</label>
                    <input type="email" class="form-control mb-3" id="inputEmail">
                </div>
                <div class="form-group">
                        <label for=" inputIdade">Idade</label>
                    <input type="text" class="form-control mb-3" id="inputIdade">
                </div>
                <div class="form-group">
                    <label for=" inputPosicao">Posição</label>
                    <input type="text" class="form-control mb-3" id="inputPosicao">
                    <button type="button" class="btn btn-outline-warning float-right .text-dark" id="edtPos">Editar</button>
                </div>
                <div class="form-group mt-5">
                    <label for=" inputWhatsapp">Whatsapp</label>
                    <input type="text" class="form-control mb-3" id="inputWhatsapp">
                    <button type="button" class="btn btn-outline-warning float-right .text-dark" id="edtZap">Editar</button>
                </div>
            </form>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>