<!doctype html>
<html lang="pt-br">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Peladeiros F.C | Perfil</title>
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="../css/bootstrap.css">
        <link rel="stylesheet" href="../css/styles.css">
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark bg-gradient-success mb-5">
            <a class="navbar-brand" href="#">Peladeiros F.C.</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSite">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSite">
                <ul class="navbar-nav  mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="../index.html">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="perfil.html">Perfil</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="pontuacao.html">Pontuação</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="partida.html">Partidas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="login.html">Sair</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="container mt-3 ml-2">
            <h1>Pontuação</h1>
            <form>
                <div class="form-group mt-5">
                    <label for=" inputNome" class="mr-2">Nome</label>
                    <input type="text" class="form-control-lg mb-3 border border-success text-center" id="inputNome" value="Peladeiro" disable>
                </div>                
                <div class="form-group">
                    <label for=" inputPosicao" class="mr-2">Pontuação Atual</label>
                    <input type="text" class="form-control-small mb-3 border border-success text-center" id="inputPosicao" value= "75 pontos" disable>
                </div>
                <div class="form-group">
                    <label for=" inputNivel" class="mr-2">Nível</label>
                    <input type="text" class="form-control-lg mb-3 border bg-success text-center text-white" id="inputNivel" value= "Iniciante" disable>
                </div>
                <div class="form-group">
                    <label for=" inputPrxNivel" class="mr-2">Próximo Nível</label>
                    <input type="text" class="form-control-small mb-3 border border-success text-center" id="inputPrxNivel" value= "Faltam 25 pontos" disable>
                </div>
            </form>
        </div>
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="../js/jquery.min.js"></script>
        <script src="../js/popper.min.js"></script>
        <script src="../js/bootstrap.min.js"></script>
    </body>
</html>
